label {
	transform: rotate(0deg);
}

.deleteAccountButton {
	float:right;
}

div.accountArea {
	background: white;
	    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    margin: 1;
    min-width: 100%;
}

img.profilePic, .catImage {
	max-height: 35vw;
	max-width: 35vw;
}

h1.accountBanner{
	font-family: 'IBM Plex Sans', sans-serif;
	text-align:center;
}

h3.aboutYou{
	font-family: 'IBM Plex Sans', sans-serif;
	background: white;
	border: 0;
}

section.aboutYou{
	background: white;
}

.humanDataItem{
	font-family: 'Ibm Plex sans', sans-serif;
}

.removeCat {
	background: red;
	width: 30%;
}

.humanDataItem{
	color: black;
}


/*MODAL STUFF MOBILE */
div.modal-header, div.modal-body, h5.modal-title, form.editAccountModalForm {
	background: #312f2f;
	color: #abe7db;
}

button.close{
	color: white;
}

form.editAccountModalForm label{
	font-size: 5.5vw;
}

.accountEditMBTILabel{
 	max-width: 50%;
 	margin-top:5%;
 	margin-bottom: 10%;

}



@media only screen and (min-width: 1000px) {
	li.humanDataItem.list-group-item {
		width: auto;
		max-width: 33vw;
		text-align: center;
		margin: auto;
	}

	form.editAccountModalForm label {
		transform:rotate(0deg);
		font-size: 3.5vw;
	}

	button.deleteAccountButton.btn.btn-secondary {
		float:right;
	}

	button.deleteAccountButton, button.editAccountButton {
		width: 30%;
		margin: 2vw 9%;
	}



}



