

div.accountArea {
	background: white;
}

img.profilePic, .catImage {
	max-height: 35vw;
	max-width: 35vw;
}

h1.accountBanner{
	font-family: 'Crafty Girls', cursive;
}

h3.aboutYou{
	font-family: 'Crafty Girls', cursive;
	background: white;
	border: 0;
}

section.aboutYou{
	background: white;
}

.humanDataItem{
	font-family: 'Delius Swash Caps', cursive;
}

.removeCat {
	background: red;
	width: 30%;
}

.humanDataItem{
	color: black;
}


/*MODAL STUFF MOBILE */
div.modal-header, div.modal-body, h5.modal-title, form.editAccountModalForm {
	background: black;
}

button.close{
	color: white;
}

form.editAccountModalForm label{
	font-size: 5.5vw;
}

.accountEditMBTILabel{
 	max-width: 50%;
 	margin-top:5%;
 	margin-bottom: 10%;

}

@media only screen and (min-width: 1000px) {
	li.humanDataItem.list-group-item {
		width: auto;
		max-width: 33vw;
	}

	form.editAccountModalForm label {
		transform:rotate(-9deg);
		font-size: 3.5vw;
	}

	button.deleteAccountButton.btn.btn-secondary {
		float:right;
	}


}