@import url('https://fonts.googleapis.com/css?family=Delius+Swash+Caps|Walter+Turncoat|Kavivanar|IBM+Plex+Sans');

.App {
  text-align: center;
}
.App-title {
  font-weight: bolder;

}

html {
  background: white;
}


.App-header {
  background-color: hotpink;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 3vw;
}

.App-title {
  font-size: 2.5em;
  color:white;
}

.App-intro {
  font-size: large;
}

