div.catSuggestion{
/*	background: #30343f;
*/	color: hotpink;

}

.catSuggestionP {
	margin-bottom: 0;
	font-family: 'IBM Plex Sans', sans-serif;
}

/*html{
	background-color: #30343f;
}*/

@media only screen and (min-width: 1000px) {
	.catSuggestionP{
		display: none;
	}

	#Popover1 {
		position: relative;
		top: -3vw;
	}
}