
.homeBody{
	background:black;
}

/*html, div.App{
	background: black;
}*/

.duplicateWarning {
	position: fixed;
	top: 50%;
	background: red;
	color: black;
}

/*html {
	background: blue
}*/

.catAdd {
	position: fixed;
	top: 50%;
	background: lime;
	color: black;
}

/*html{
	background: black;
}
*/
form.searchForm{
	background: black;
	height: -webkit-fit-available;

}

/*form.searchForm:after{
	background: black;
}*/


