

.duplicateWarning {
	position: fixed;
	top: 50%;
	background: red;
	color: black;
}


.catAdd {
	position: fixed;
	top: 50%;
	background: lime;
	color: black;
}


form.searchForm{
	height: -webkit-fit-available;
	background: white;
	border-radius: 2vw;
	border: #b1ddf1 double 3px;

}


