h1.homeGreet, p.homeGreet{
	color: #312f2f;
	font-family: 'IBM Plex Sans', sans-serif;
	font-style: italic;
	background: inherit;
}


p.homeGreet {
	font-size: 4vw;
}


@media only screen and (min-width: 1000px){
	p.homeGreet {
		position: absolute;
		width: auto;
		height: 8vw;
		font-size: 1.5vw;
		padding: 0 2vw;
		background: white;
		margin: 2vw;
		min-width: 50%;
		text-align: center;
		left: 10%;
	}

	h1.homeGreet {
		margin-top:1.5vw;
	}
}