h1.homeGreet, p.homeGreet{
	color: #312f2f;
	font-family: 'IBM Plex Sans', sans-serif;
	font-style: italic;
	background: inherit;
}


p.homeGreet {
	font-size: 4vw;
}


@media only screen and (min-width: 750px){
	p.homeGreet {
/*	position: absolute;
*/    width: auto;
    height: auto;
    font-size: 1.75vw;
    padding: 10px 2vw;
    /* background: white; */
    /* margin: 2vw 25%; */
    min-width: 50%;
    text-align: center;
    left: 0;
    width: 100%;
    z-index: 2;
	}
	h1.homeGreet{
    position: absolute;
    width: 100%;
    top: 0;
    margin-top: 5%;
    left: 0;
        z-index: 1;
}

}