h1.homeGreet, p.homeGreet{
	color: hotpink;
	background: #30343f;
	font-family: 'Delius Swash Caps', serif;
}


p.homeGreet {
	font-size: 4vw;
}


@media only screen and (min-width: 1000px){
	p.homeGreet {
		position: absolute;
		width: auto;
		height: 8vw;
		font-size: 2.5vw;
	}
}