.duplicateWarning {
	position: fixed;
	top: 50%;
	background: red;
}

.catAdd {
	position: fixed;
	top: 50%;
	background: lime;
	color: black;
}

/*html{
	background: black;
}
*/
form.searchForm{
	background: black;

}

form.searchForm:after{
	background: black;
}



/*.catSuggestion, .homeGreet{
	background: black;
}*/