.content{
	background: linear-gradient(
		rgba(0,0,0,0.8),
		rgba(0,0,0,0.8)
		),
	url('../staticAssets/markerCats.jpg');
	background-size: cover;

}

.card{
	background:0;
	color: white;
	box-sizing:content-box;
	border: .31vw solid lime;
}

.catImage {
	height: auto;
	width: auto;
	margin: auto 25%;
}
