.kenScreen {
    position: absolute;
	top: 0;
	left: 0;
}

.loader{

    background-image: url('../staticAssets/felix.jpg');
    background-size: contain;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    border-radius:100%;
}

.lead {
		font-size: 5vw;
	}


.display-3 {
	font-size: 10vw;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.content{
	background:#abe7db;/*linear-gradient(
		rgba(0,0,0,0.8),
		rgba(0,0,0,0.8)
		),
	url('../staticAssets/markerCats.jpg');*/
	background-size: contain;
/*	position: absolute;
*/	width: auto;
	min-width:100%;


}

p.card-text{
	font-size: 4.5vw;
	font-family: 'IBM Plex Sans', sans-serif;
	line-height: 1.7;
	color: #333;
}

.card{
	/*background:whitesmoke;
	color: white;
	box-sizing:content-box;
	border: .31vw dotted #b1ddf1;
	margin: 5vw;
	border-width: 0.69vw;
	border-radius: 2vw;
}*/

    margin: 0 1vw;
    border: #ffc4d1 double 1vw;
    border-radius: 5vw;
    background: whitesmoke;
    margin-bottom: 1vw;
    width: auto;
    margin-top: 5vw;
    border-width: .3em;
}

.catImage {
	height: auto;
	min-height: 40vw;
	width: auto;
	max-width: 52vw;
	margin: auto 1%;
	float:left;
}

.catKennelBanner {
	color: #333;
	font-weight: bold;
	background: #abe7db;
	font-family: 'IBM Plex Sans', sans-serif;
	text-align: center;
/*	position: relative;*/
	top: 2vw;
	font-style: italic;
}

.catName {
	transform: rotate(0deg);
	background: 0;
	float: right;
	color: #23c9ff;
	font-size: 10vw;
	font-family: 'Monoton', sans-serif;
	text-shadow: .1vw .1vw .1vw #8d3b72;

}

/*	background: 0;
	width: auto;
	margin-bottom: 4vw;
*/

.catDetails {
	clear: both;
	text-align: left;
	font-size: 5vw;
	padding: 2vw;
	color: #333;
	font-family: 'IBM Plex Sans', sans-serif;
}


	div.kenScreen {
		background: #abe7db;
	}

	/*nav.navbar.navbar-expand-md.navbar-light.bg-faded {
    background: #ffc4d1;
    font-family: 'monoton',sans-serif;
    font-weight: bolder;
    width: 100%;
}*/

@media only screen and (min-width: 750px) {
	
	/*nav {
		position:relative;
	}*/

	.content {
		position:unset;
		background: unset;
		margin-top: 10%;
	}


	.kennelScreen {
		position: absolute;
	}

	div.kenScreen {
		background: #abe7db;
		height: auto;
	}

	h1.catKennelBanner {
		top: 5vw;

background: unset;

position: absolute;

left: 0;

/*border: solid black;*/

width: 100%;
	}

	img.catImage.card-img{
    height: auto;
	max-height: 28vw;
    min-height: 5vw;
    max-width: 34vw;
    width: auto;
	}	

	div.card {
		padding: 0 3vw;

border-width: .25vw;

margin-left: 7.5%;

margin-right: 7.5%;

width: auto;

max-width: 60%;

margin: 16vh auto;
	}
	.catName{
		font-size: 7vw;

float: unset;

margin: auto 20%;

width: 100%;
	}
	.catDetails{
	clear: unset;
/*    text-align: left;*/
    font-size: 1.5vw;
    padding: 2vw;
    background: 0;
	}

	p.card-text {
		font-size: 1.5vw;
		margin-top:0;
        margin: auto;
        width: 90%;
	}

	.lead {
		font-size: 3vw;
		position: absolute;
		left: 40%;
		top: 40%;
        display:none;
	}


	.display-3 {
		font-size: 6vw;
	}
    
    #emptyKen {
        position: unset;
    }
    
    #fullKen {
        width: 100%;
    }


/*nav.navbar.navbar-expand-md.navbar-light.bg-faded {
    height: 5vw;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    /* min-width: 99vw; */
   /* margin: auto;
    min-width: 100%;*/



}