

body, .App{
	background: url('../staticAssets/OSVP600.jpg');
	background-size: contain;
}

.testLogin {
	background: white;
	color: black;
}


h1.App-title{
	background: hotpink;
}

form.loginForm {
	background: rgba(0,0,0,0.75);
}

.App-header {
	font-family: 'Crafty Girls', cursive;
	font-size: 6vw;
	height: auto;
	font-weight: bold;
}

.notRegistered {
	font-family: 'Delius Swash Caps', cursive;
	font-size: 6vw;
	border-radius: 4vw;
	color: black;
	padding: 1vw 2vw;
	position: relative;
	background: gold;
	border-radius: .4em;
	position: relative;
}

.notRegistered:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 79%;
	width: 0;
	height: 0;
	border: 44px solid transparent;
	border-top-color: gold;
	border-bottom: 0;
	border-right: 0;
	margin-left: -22px;
	margin-bottom: -44px;
}

.notRegisteredPic {
	border: red solid;
	height: 80vw;
	position: relative;
	top: 10vw;
	float: right;
}

@media only screen and (min-width: 1000px) {
	header.App-header {
		font-size: 1.5vw;
		color:black;
	}
	span.notRegistered{
		font-size: 1.5vw;
		padding: 1vw;
		position: absolute;
		background: gold;
	}
	img.notRegisteredPic{
		top: 7vw;
		right: 5vw;
		height: 12vw;
	}
	span.notRegistered:after{
		
    content: '';
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 0;
    height: 0;
    border: 44px solid transparent;
    border-top-color: gold;
    border-bottom: 0;
    border-right: 0;
    margin-left: 92px;
    margin-bottom: -44px;
	}

	div.loginForm {
		height: 21vw;
		padding: 3vw;
	}

	.cheekyCat{
		position: relative;
		top: -23vw;
		right: 17vw;
	}

}

