
section.titleAndBlurb {
	border: solid 5px;
	position: relative;
	margin-top: 5%;
}

.testLogin {
	background: white;
	color: #312f2f;
}


h1.App-title{
	
}

section.topHat {
        height: auto;
    padding: 20px;
    color: black;
    margin-bottom: 37%;
    position: relative;
    top: 37vw;
    border: solid red;
    height: auto;
    min-height: 13em;

}

.funkyTitle{
	    font-family: 'Monoton', sans-serif;
    position: absolute;
    top: 24%;
    background: transparent;
    z-index: 100;
    color: #23C9FF;
    text-shadow: 0.2vh 0.2vh 0.2vh #8D3B72;
}

form.loginForm {
	background: rgba(0,0,0,0.75);
	
}

.App-header {
	font-family: 'Delius Swash Caps', cursive;
	font-size: 6vw;
	height: auto;
	font-weight: bold;
}

span {
	font-family: 'IBM Plex Sans', sans-serif;
	font-style: italic;
}

.notRegistered {
	font-family: 'IBM Plex Sans', sans-serif;
    font-style: italic;
    font-size: 4vw;
    border-radius: 4vw;
    color: #312f2f;
    padding: 1vw 2vw;
    position: relative;
    background: gold;
    border-radius: .4em;
    position: absolute;
    top: 475%;
    left: 3vw;
    z-index: 39;
}

.notRegistered:after {
	content: '';
    position: absolute;
    bottom: 170%;
    left: 40%;
    width: 0;
    height: 0;
    border: 44px solid transparent;
    border-top-color: gold;
    border-bottom: 0;
    border-right: 0;
    margin-left: -22px;
    margin-bottom: -11%;
    z-index: 2;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.notRegisteredPic {
	height: 80vw;
	position: relative;
	top: 10vw;
	float: right;
}

.testLoginBox {
	border: solid black;
	margin-top: 1vw;
	background:white;
}

@media only screen and (min-width: 750px) {
	header.App-header {
		font-size: 1.5vw;
		color:#312f2f;
		padding: 0 16vw;
	}
	span.notRegistered{
		    font-size: 1.5vw;
    padding: 1vw;
    position: relative;
    background: gold;
    z-index: 1;
    top: -9vw;
    left: auto;
	}

	section.titleAndBlurb {
		border: solid 5px;
    width: 30vw;
    position: relative;
    top: -12vh;
    margin-left: -60%;
    margin-right: 11vw;
	}

	img.notRegisteredPic{
		    top: 1vw;
    right: -9vw;
    height: 28vw;
    /* float: right; */
    position: absolute;
	}
	span.notRegistered:after{
		
    content: '';
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 0;
    height: 0;
    border: 44px solid transparent;
    border-top-color: gold;
    border-bottom: 0;
    border-right: 0;
    margin-left: 92px;
    margin-bottom: -44px;
    transform: rotate(0deg);
	}

	div.loginForm {
		    /* border: none; */
    border: none;
    position: absolute;
    /* float: right; */
    left: 60vw;
    top: -1vw;
	}

	.cheekyCat{
		position: relative;
		top: -23vw;
		right: 17vw;
	}

	div.searchResults {

	background: url('../staticAssets/OSVP600.jpg');
	background-size: contain;
	}
	.funkyTitle {
		        top: 1vw;
    left: 4vw;
    font-size: 7vw;
	}


    .main, .stand {
        top: 5%;
    }
    .main .cat {
        right: inherit;
    }

    html body {
        background-color: #abe7db;
    }

    section.topHat{
        top:15vw;
        margin-bottom: 0;
    }

}



