div.loginForm {
	background: rgba(0,0,0,0.2);
	border: solid 2vw lime;
	position: relative;
	top: -3vw;
}

input{
	height: 6vw;
	position: relative;
	border-radius: 3vw;
	text-align: center;
	margin: 3vw 15%;
	height: 7vw;
	width: auto;
	min-width: 60%;
	font-family: 'Delius Swash Caps', cursive;
}

.loginFormButtons {
	position: relative;
	top: -3vw;
	height: 10vw;
	width: auto;
	min-width: 10vw;
	margin: 2vw 10%;
	font-family: 'Walter Turncoat', cursive;

}

.loginFormButtons:hover{
	color: green;
	background: pink;
	font-family: 'Walter Turncoat', cursive;
}

form {
	background: white;
}



