 div.css-4ecjhy{
	height: 20vw;
    position: absolute;
    top: 25%;
    width: 22vw;
    left: 40%;
}

div.loginForm {
	position: relative;
	top: -2vw;
	border-radius: 2vw;
	border-width: .6vw;
}

input{
	height: 6vw;
	position: relative;
	border-radius: 3vw;
	text-align: center;
	margin: 3vw 15%;
	height: 7vw;
	padding: 0;
	width: auto;
	min-width: 60%;
	font-family: 'Delius Swash Caps', cursive;
}

.loginFormButtons {
	position: relative;
	top: -2vw;
	height: 10vw;
	width: auto;
	min-width: 10vw;
	margin: 2vw 10%;
	font-family: 'Walter Turncoat', cursive;

}

#login {
	margin-right:2px;
}

.loginFormButtons:hover{
	color: green;
	background: pink;
	font-family: 'Walter Turncoat', cursive;
}

form {
	background: white;
}

@media only screen and (min-width: 1000px) {
	 div.css-4ecjhy{
	position:absolute;
	left: 40%;
	width: auto;
	min-width: 20%;

 }
	div.loginForm{
		border: none;
	}
	form.loginForm{
		float: left;
		background: 0;

	}
	input#username, input#password{
		width: 24vw;
		font-size: 2.5vw;
		margin: 1vw;
		padding: 0;
		color: black;
						font-family: 'IBM Plex Sans', sans-serif;

	}
	
	button.loginFormButtons.btn.btn-secondary{
		width: 80%;
		height: 10%;
		padding: 1vw;
		margin: 1vw 0;
				font-family: 'IBM Plex Sans', sans-serif;

	}

	input{
		padding: 1.5vw;
	}
}

