

a.navbar-brand{
	font-size: 4vw;

}



li.nav-item {
	font-family: 'Delius Swash Caps', sans-serif;
	padding: 1vw;
}

a.nav-link {
	font-size: 3vw;
	font-family: 'IBM Plex Sans', sans-serif;
	font-style: italic;
	text-align:center;

}

nav.navbar.navbar-expand-md.navbar-light.bg-faded{
	background: #ffc4d1;
	font-family: 'monoton',sans-serif;
	font-weight: bolder;
	width:100vw;
}

button.mr-2.navbar-toggler, .navbar-toggler-icon   {
	background: url(../staticAssets/paw.jpg) no-repeat;
	background-size: contain;
	width: auto;
	padding: 1vw;

}

div.collapse.show.navbar-collapse,
div.collapsing.navbar-collapse{
	background: #ffc4d1;
}


span.navbar-toggler-icon{
	background:black;

	color: white;
	margin: 2vw;
	padding: 2vw;
	height: 100%;
	width: auto;
}

button#Popover1.btn.btn-secondary {
	font-family: 'IBM Plex Sans', cursive;
	margin: 0;
	padding: 2vw;

}

h3.popover-header {
	background: #DCFFFD;
	font-family: 'IBM Plex Sans', cursive;
}

div.popover-body {
	background: #75DBCD;
	font-family: 'IBM Plex Sans', cursive;
}

h1.homeGreet {
	font-family: 'IBM Plex Sans', cursive;
}

/*h5 {
	text-align: center;
	font-family: 'Delius Swash Caps', cursive;
	font-weight: bold;
	color: #b1ddf1;
	background-color: black;
}*/

@media only screen and (min-width: 750px) {

	nav.navbar.navbar-expand-md.navbar-light.bg-faded {
		height: 5vw;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    min-width: 100%;
	}

	ul.ml-auto.navbar-nav {
		position: relative;
		top: 2vw;
	}

	button#Popover1.btn.btn-secondary {
	
	padding: 1vw;

}
.navbar-light .navbar-brand:hover {
	color: #23c9ff;
	text-shadow: .2vw .3vw .4vw #8d3b72;
}

a.navbar-brand {
	font-size: 4vw;
    position: absolute;
    right: 60%;
}

a.nav-link {
	margin: 0;
	position: relative;
	top:-2vw;
}

}