a {
	color: #73eedc;
}

form {
	background: rgba(0,0,0,0.92);
}

h1 {
	background: white;
	margin: 0;
}

h5 {
	background: 0;
}

h4 {
	padding-top: 4vw;
	background: 0;
	text-align: center;
	margin-bottom: 5vw;
	color: #ffc4d1;
	font-family: 'Delius Swash Caps', cursive;
	font-weight:bolder;
	font-size: 7vw;
}


label {
	color: #c20114;
	font-size: 5vw;
	font-family: 'Delius Swash Caps', cursive;
	transform: rotate(-22deg);
	position: relative;
	top: 2vw;
	font-weight: bold;
}

label.mBTILabel {
	transform: rotate(0deg);
}

.mBTIInput, option, select{
	width: auto;
	min-width: 30%;
	max-width: 60%;
	margin: auto 15%;
	border: solid ;
	border-width: 2px;
	border-style: inset;
	border-radius: 3vw;
	background: 0;
	color: black;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 2vw;
	background: white;
}

input {
	background: 0;
	color: white;
	width: stretch;

}

.dontKnow {
	position: relative;
	font-family: 'Delius Swash Caps', cursive;
	font-size: 3.6vw;
}

.form-error {
	color: lime;
}

button.btn, .btn-info.disabled, .btn-info:disabled {
	background-color: #ffc4d1;
	margin: 2vw auto;
	width: auto;
	min-width: 30%;
	color: #312f2f;
}

div.form-group {
	background: 0;
}

@media only screen and (min-width: 1000px){

	div.form-group {
		width: fit-content;
/*		display: inline-grid;
*/		height: auto;
		background: 0;
		padding-bottom: 3vw;
	}

	h4.registrationBanner{
		font-size: 3vw;
	}

	h5{
		margin-bottom: 3vw;
		background: 0;
	}

	label {
	color: #c20114;
	font-size: 1.7vw;
	font-family: 'Delius Swash Caps', cursive;
	transform: rotate(-11deg);
	top: -4vw;
	font-weight: bold;
	}

	input, .form-control{
		width: auto;
		height: auto;
		max-height: 3vw;
		min-width: 14vw;
		top: -4vw;
		background: 0;
		color: white;
	}

	div#emailAddress {
				background: 0;
	}

	div#username{
		background: 0;
	}

	div#password{
		background: 0;
		
	}

	label.mBTILabel {
		top: 0;
		position: relative;
	}

	div#mBTI {
		background: 0;
		
	}
	
	button.btn.btn-info.disabled, button.btn.btn-info{
		position: relative;
		bottom: 8vw;
		left: 0vw;
	}


	/*div.App{
		background: rgba(0,0,0,0.8);

	}*/
	select#mBTI.mBTIInput.form-control{
		font-size: 1.1vw;
		color: white;
	}
	.dontKnow {
		font-size: 2vw;
		width:auto;
		float:left;
		color: cyan;
	}
	
	
	
	input#password.form-control, input#username.form-control{
		width: auto;
		max-width: 20vw;
		color:white;
	}

	input#password.form-control:focus, input#username.form-control:focus, select#mBTI.mBTIInput.form-control:focus {
		background: white;
		color:black;
	}
	
	p{
		margin-top:0;
	}

}