p.petDescription {
	font-family: 'IBM Plex Sans', sans-serif;
}

div.searchResults{
	background: white;
}

h4.resultsWillAppear {
	color: #312f2f;
	text-align: center;
	font-family: 'IBM Plex Sans', curisve;
	background: inherit;
}

h2 {
	background: transparent;
	color: lime;
}

.noCats {
	font-family: 'Delius Swash Caps',cursive;
	font-size: 4vw;
	border: solid hotpink;
	background: black;
}

li.catEntry{
	margin: 0 1vw;
	border: #B1DDF1 dotted 1vw;
	border-radius: 5vw;
	background: whitesmoke;
	margin-bottom: 1vw;
	width: 100%;
	margin-top: 5vw;
	border-width: .3em;
}

h4.petInfo.petName {
	background: 0;
	font-family: 'Delius Swash Caps', cursive;
	color: #C20114;
/*	transform: rotate(-10deg);
*/	width: auto;
	margin-bottom: 4vw;

}

img.petMedia {
	height: auto;
	max-height: 100vw;
	width: auto;
	max-width: 80%;
	border-radius: 1vw;
}

li{
	list-style: none;
	color: black;
	font-family: 'IBM plex sans', sans-serif;
	padding: 2vw;
}

button.addCatButton{
	margin: auto 25%;
	width: auto;
	min-width: 50%;
	margin-top: 6%;
}


@media only screen and (min-width: 1000px){
	div.searchResults{
		position: absolute;
		width: 100%;
		background: white;
		margin-top: 4vw;
	}

	li.petInfo.petEmail{
	font-size:1.2vw;
	}

	img.petMedia{
		max-height: 30vw;
		max-width: 25%;

	}

	h4.petInfo.petName{
		position:absolute;
		left: 75%;
		top: 0;
		font-size: 3vw;
		margin: auto -7vw;
		width: auto;
		max-width: 34vw;
		max-inline-size: 24vw;
	}
	li.catEntry{
	position: relative;
	margin-top:2.5vw;
	}

	ul.catDetails{
		width: 30%;
		float: left;
		margin: auto;
		top: 1vw;
		left: -30vw;

		word-break: break-word;

	}
	p{
		font-family: 'Kavivanar', sans-serif;
		font-size: 2vw;
		width: 30%;
		float:right;
		height: auto;
		margin-top: 12%;
		max-height: 20vw;
		overflow: auto;

	}
	li.petInfo {
		margin: 0;
		padding: 0;
		font-family: 'IBM Plex Sans', sans-serif;
		font-size: 1.5vw;
	}

	button.addCatButton.btn.btn-secondary{
		margin: 0 23%;
		position: relative;
	}

	h5.mt-3.duplicateWarning.fade, h5.mt-3.catAdd.fade {
		position: fixed;
		width: auto;
		bottom: 25%;
		min-width: 50%;
		margin: auto 25%;
		z-index: 1000;
		height: 4vw;
		border: outset silver .4vw;
		border-radius: 2vw;
	}

	.noCats{
		font-size: 2.5vw;
		border: solid hotpink;
		background: black;

	}
	p.petDescription {
		margin-top: 10vw;
		margin-bottom: 0;
		font-family: 'IBM Plex Sans', sans-serif;
	}
}