label#zipCodeLabel.catSearchLabel{
	transform: rotate(-9deg);
}
.catSearchLabel{
	color: red;
	font-size: 5vw;
	font-family: 'Delius Swash Caps', cursive;
	transform: rotate(-10deg);
	position: relative;
	top: 2vw;
	font-weight: bold;
}

#zipCode{
	position: relative;
}
input{
	width: auto;
}

.form-control{
	width: auto;
}

div.form-group{
	background: black;
}

button{
	font-family: 'Delius Swash Caps', cursive;
}

@media only screen and (min-width: 1000px) {
	div.formArea{
		background: rgba(0,0,0,0.92);
		position: absolute;
		/*width: -webkit-fill-available*/
		width: stretch;
	}

	form.searchForm {
		background: 0;
		height: auto;
		position: relative;
		margin-bottom: 21vw;
	}

	div.form-group {
/*		border: solid orange;
*/		display: block;
		margin: auto .5vw;
	}

	label.catSearchLabel{
		font-size: 2vw;
		position: relative;
		font-weight: bolder;
/*		border: solid white;
*/	}
	/*.catZipCodeSearch{
		font-size:1.4vw;
		position: relative;
		bottom: 30.5vw;
		left: 5vw;
		
	}*/

	/*#zipCodeLabel{
		left: 35%;
		top:12vw;
		position: absolute;
		transform: rotate(90deg);

	}*/

	/*.catZipCodeSearch {
		min-width: 24.5vw;
		width: auto;
		height: auto;
		min-height: 2.5vw;
		left: 35vw;
		bottom:19.5vw;
	}*/



	section.searchButtonGroup {
	position: absolute;
    margin: auto 40%;
    height: 5vw;
    width: 10vw;
    top: 30vw;
	}

	#seekButton, #clearButton {
		position: absolute;
		bottom: 2vw;
	}

	#seekButton {
		right: 40%;
	}

	#clearButton {
		left: 70%;
	}

	#zipCode {
		position: absolute;
		top: 9vw;
		right: -5%;
	}

	h4.resultsWillAppear{
		position: absolute;
		top:40%;
		background: transparent;
		display: none;
	}

	select.form-control {
		min-width: 11vw;
	}

}