p.petDescription {
	font-family: 'IBM Plex Sans', sans-serif;
}

div.searchResults{
	background: #abe7db;
	position: absolute;
}

h4.resultsWillAppear {
	color: #312f2f;
	text-align: center;
	font-family: 'IBM Plex Sans', curisve;
	background: #abe7db;

}

h2 {
	background: transparent;
	color: lime;
}

.noCats {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 5vw;
	color: #312f2f;
	text-align: center;
	background: #abe7db;
	font-weight: bolder;
	    width: auto;
        min-width: 94vw;
    padding-bottom: 1vw;

	
}

li.catEntry{
	margin: 0 1vw;
	border: #ffc4d1 double 1vw;
	border-radius: 5vw;
	background: whitesmoke;
	margin-bottom: 1vw;
	width: 100%;
	margin-top: 5vw;
	border-width: .3em;
}

h4.petInfo.petName {
	background: 0;
	font-family: 'Monoton', sans-serif;
	color: #23c9ff;
	width: auto;
	margin-bottom: 4vw;
	text-shadow: .1vw .1vw .1vw #8d3b72;

}

img.petMedia {
	height: auto;
	max-height: 100vw;
	width: auto;
	max-width: 80%;
	border-radius: 1vw;
}

li{
	list-style: none;
	color: black;
	font-family: 'IBM plex sans', sans-serif;
	padding: 2vw;
}

button.addCatButton{
	margin: auto 25%;
	width: auto;
	min-width: 50%;
	margin-top: 6%;
}


@media only screen and (min-width: 750px){
	h4.resultsWillAppear {
    position: relative;
    left: 60%;
    font-size: 4vw;
    width: 30%;
}

	div.searchResults{
		
	 	position: absolute;
	 	width: auto;
	 	top: 10%;
	 	background: 0;
	 	margin: auto 2%;
	 
	}

	li.petInfo.petEmail{
	font-size:1.2vw;
	word-wrap: normal;
	}

	img.petMedia{
		/*max-height: 30vw;
		max-width: 25%;*/
		max-height: 20vw;
max-width: 40%;
	}

	h4.petInfo.petName{
/*		position:absolute;
*/
		left: 75%;
		top: 0;
		font-size: 3vw;
/*		margin: auto -7vw;
*/		width: auto;
		max-width: 34vw;
		max-inline-size: 24vw;
		float:left;
	}
	li.catEntry{
	position: relative;
	margin-top:2.5vw;
	}

	ul.catDetails{
		width: 30%;
		float: left;
		margin: auto;
		top: 1vw;
		left: -30vw;
		clear:left;
		word-break: break-word;

	}
	p{
		font-family: 'Kavivanar', sans-serif;
		font-size: 2vw;
		width: 30%;
		float:right;
		height: auto;
		margin-top: 12%;
		max-height: 20vw;
		overflow: auto;

	}
	li.petInfo {
		margin: 0;
		padding: 0;
		font-family: 'IBM Plex Sans', sans-serif;
		font-size: 1.5vw;
	}

	button.addCatButton.btn.btn-secondary{
		margin: 0 23%;
		position: relative;
	}

	/*h5.mt-3.duplicateWarning.fade, h5.mt-3.catAdd.fade {
		position: fixed;
		width: auto;
		bottom: 25%;
		min-width: 50%;
		margin: auto 25%;
		z-index: 1000;
		height: 4vw;
		border: outset silver .4vw;
		border-radius: 2vw;
	}*/
	.catAdd{
	position: fixed;
    top: 50%;
    background: #ffc4d1;
    color: #312f2f;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 45%;
    border: double #23c9ff;
    z-index: 11;
    left: 0;
    width: auto;
}
	

	.noCats{
		font-size: 2.5vw;
		border: solid hotpink;
		background: black;
		position: fixed;
		left:5%;
		top:50%;
		color: white;
		z-index: 11;

	}
	p.petDescription {
		margin-top: 10vw;
		font-size: 1vw;
		margin-bottom: 0;
		font-family: 'IBM Plex Sans', sans-serif;
	}

	.duplicateWarning {
    position: fixed;
    top: 50%;
    background: #312f2f;
    color: #ffc4d1;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: auto 45%;
    border: double #23c9ff;
    left:0;
    z-index: 11;
}
}