select#mBTI.form-control {
	margin:auto;	
	height:auto;
	min-height:5vw;
}

button.editSubmit.btn.btn-secondary {
			min-width: 100%;
		}

label.labelFN {
			padding-top: 3vw;
		}




@media only screen and (min-width: 750px){

		select#mBTI.form-control {
			position: relative;
			right: 3vw;
			color: white;
			margin:unset;
		}

		select#mBTI.form-control:focus {
			color: black;
		}



		button.editSubmit.btn.btn-secondary {
			min-width: 100%;
		}

		label.labelFN {
			padding-top: 3vw;
		}

		form.editAccountModalForm {
			position:unset;
			top:unset;
			left:0;
			display:unset;
		}

		select#mBTI.form-control {
			right:unset;
			position:relative;
		}
}